body {
	margin: 0;
	padding: 0;
	background-color: black;
	font: 14px/18px 'Helvetica' sans-serif;
}

p {
	margin-bottom: 10px;

}

ul {
	padding-left: 0;
}

.background {
	border: 1pt solid #ddd;
	background-color: blue;
	padding: 10px;

}

.i-b {
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
	padding: 10px;
	width: 200px;
	height: 10px;
	border: 1pt solid #eee;
	background-color: #ddd;
	line-height: 100px;
	text-align: 100px;
	font-size: 30px;
}