body {
 
  margin: 0; 
  padding: 0;
  background: #fafafa;
  font: 16px/20px 'Helvetica' sans-serif;
 
}

p {
  margin-bottom: 10px;
}

ul {
  padding-left: 0;
}


.container h1 {
 margin: 0;
 padding: 0;
 padding-top: 25px;
 width: 100%;
 height: 50px;
 float: center;
 border-bottom: #black 1px;
 margin-bottom: 30px;
 background-color: gray ;
 }

.container {
  width: 960px;
}

.heading {
	width 960px; 
}
.background {
  border: 1pt solid #1e8564;
  background-color: #09c170;
  padding: 10px;
}

.h1 {
	font-size: 40px;
	text-align: center;
}
.i-b {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  width: 200px;
  height: 100px;
  border: 1pt solid #eee;
  background-color: #ddd;
  line-height: 100px; /* To center one line vertically */
  text-align: center;
  font-size: 30px;
}

.topright {
	float:right;
	clear: right;
	padding-right: 2px;
	margin-right: 1px;
}

.topright2 {
	float: right;
	clear: left;
	padding-left: 2px;
}

.blockcontainer1 {
	border: 1px black;
	width: 960px;
	overflow: hidden;
	height: 2000px;
}	
.cleft {
	width: 296px;
	padding-right: 18px;
	padding-left: 0px;
	float: left; 
	height: 600px
}
.cright {
	width: 628px;
	padding-left: 18px;
	padding-right: 0px;
	float: right;
	height: 600px

}

.crightleft {
	width: 296px;
	padding-right: 18px;
	margin: 0px;
	float: left;

}

.crightright {
	width: 296px;
	padding-left: 18px;
	float: right;
}

.itemimage {
	width: 296px;
	height: 220px;
	padding-bottom: 10px;
}


.itemimage2 {
	width: 628px;
	height: 360px;
	padding-bottom: 10px;
}

h2 {
	font-size: 40px;
	padding-top: 20px;
	font-style: times;
}

.subleft {
	float: left;
	width: 628px;
	height: 400px
	padding-right: 36px;
}
.2colleft {
	width: 628px;
	padding-left: 0px;
	padding-right: 18px;
	float: left;
	height: 300px
	padding-top: 600px;
	display: none;
}

.subimage {
	width: 80px;
	height: 80px;
	float: left;
}

.subrighttext {
	float: right;
	font-size: 10px
	
}